<% layout('layout') -%>
<% if ( typeof(clientId) !== "undefined" ) { %>
<script>
var clientId = '<%- clientId %>';
</script>
<% } %>


  <div id="rsvp">RSVP with your Github account. Don't have one?  Just head over to <a
  href="https://github.com">Github</a> and make one&mdash;it'll fill your
  life with hack flavored ice cream.
  </div>
  <div id="button">
  <a style="cursor:pointer" id="github-login">Sign up</a>
</div>

