<% layout('layout') -%>

<div id="container">
  <section id="intro">
    <h3>Super awesome one line intro here please (about this long? or so)</h1>
  </section>
  <section id="info">
    <h1>What is this I dont even</h1>
    Some quick info about the event here? This entire section may be unnecessary, but
    it depends on what we need to include.
  </section>
  <section id="startups">
    <h1>Who's coming?</h1>
    <a href="#" class="startup">
      <!-- because line breaks become spaces -->
      <div>
        Stripe
      </div></a><a href="#" class="startup"><div>
        Cloudera
      </div></a><a href="#" class="startup"><div>
        Leap Motion
      </div></a><a href="#" class="startup"><div>
        Tagstand
      </div></a><a href="#" class="startup"><div>
        Famo.us
      </div></a><a href="#" class="startup"><div>
        Yardsale
      </div></a><a href="#" class="startup"><div>
        Shopkick
      </div></a><a href="#" class="startup"><div>
        Betable
      </div>
    </a>
  </section>
  <section id="boring-details">
    <h1>Boring details</h1>
    <dl>
      <dt>Where?</dt>
      <dd>The Woz, Soda Hall</dd>
      <dt>When?</dt>
      <dd>December 1<sup>st</sup>, 2pm</dd>
    </dl>
  </section>
  <section id="signup">
    <h1>Sign me up</h1>
    RSVP with your Github account. Don't have one?  Just head over to <a
    href="https://github.com">Github</a> and make one&mdash;it'll fill your
    life with hack flavored ice cream.

    <br />
    <a style="cursor:pointer" id="github-login">Sign up</a>
  </section>
</div>
