<% layout('layout') -%>
<div id="signed-up-div">Hm... something went wrong with your sign up. If you keep having trouble, <a href="mailto:team@hackersatberkeley.com">let us know</a>.</div>
<% include index %>
