<% layout('layout') -%>
<div id="rsvp">Hm... something went wrong with your sign up. If you keep having trouble, <a href="mailto:team@hackersatberkeley.com">let us know</a>.</div>
  <div id="button">
  <a style="cursor:pointer" id="github-login">Sign up</a>
</div>
