/* fonts */
@font-face {
  font-family: 'Code-Pro-Demo';
  src: url('/css/webfonts/16CC75_0.eot');
  src: url('/css/webfonts/16CC75_0.eot?#iefix') format('embedded-opentype'),
       url('/css/webfonts/16CC75_0.woff') format('woff'),
       url('/css/webfonts/16CC75_0.ttf') format('truetype'),
       url('/css/webfonts/16CC75_0.svg#wf') format('svg');
}

@font-face {
  font-family: 'Code-Pro-Light-Demo';
  src: url('/css/webfonts/16CC75_1.eot');
  src: url('/css/webfonts/16CC75_1.eot?#iefix') format('embedded-opentype'),
       url('/css/webfonts/16CC75_1.woff') format('woff'),
       url('/css/webfonts/16CC75_1.ttf') format('truetype'),
       url('/css/webfonts/16CC75_1.svg#wf') format('svg');
}

/* eric meyer's reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

/* general */
a {
  transition : all 0.5s;
  text-decoration:none;
}

/* body */
html {
	height: 100%;
}
body {
	color: #222;
	height: 100%;
  font-family : 'Open Sans', Segoe UI, Myriad Pro, sans-serif;
  background : #fafafa;
  background-image : url('texture.png');
}

/* header */
#headerwrap {
	-webkit-box-shadow: inset 0 -8px 15px -6px rgba(0,0,0,0.8);
	box-shadow:         inset 0 -8px 15px -6px rgba(0,0,0,0.8);
	border-bottom: 1px solid #fff;
	z-index: 100;
	background-size: cover;
	background-image: url('foundertalk.jpg');
	top: 0px;
	margin: 0px;
	width: 100%;
	height: 80%;
	position: relative;
}

#tagline {
	position: absolute;
	left: 530px;
	width: 50%;
	top: 30%;
	color: #fff;
	font-size: 25px;
	line-height: 40px;
	font-family: 'Code-Pro-Demo';
	text-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}

#parent {
	width:100%;
	position: absolute;
	bottom: 70px;
}
#clicktolearnmore {
	display: inline-block;
	padding: 10px;
	bottom: 70px;
	color: #fff;
	opacity: 0.9;
	font-weight: 700;
	background-color: rgba(0,0,0,0.3);
}

#companylogos {
	position: absolute;
	margin: 0 auto;
	bottom: 10px;
	height: 60px;
	width: 100%;
	text-align: center;
	opacity: 0.9;
	background-color: rgba(0, 0, 0, 0.3);
	transition: opacity 200ms linear;
	-webkit-transition: opacity 200ms linear;
	overflow: hidden;
}

#scroll {
	position: absolute;
	bottom: 80px;
}

#companylogos img {
	max-height: 60px;
	margin: 0 7px;
}

#companylogos:hover {
	opacity: 1;
}

header {
  width : 475px;
  margin: 0 auto;
  background : #fefefe;
  border: 1px solid #fff;
  position: absolute;
  top: 30%;
  box-shadow: 0px 0px 15px #b2c9b2; 
}

header h1 {
  letter-spacing : 0.02em;
}

#club-name {
  padding : 20px 0 0 30px;
  font-family : "Code-Pro-Demo", monospace;
  font-size : 1.5em;
}

#event-name {
  padding : 0px 30px 25px 30px;
  font-size : 3.5em;
  font-family : "Code-Pro-Light-Demo", monospace;
  /*text-shadow: 1px 1px 0px #c1d1b5, 3px 3px 0px rgba(0,0,0,0.3) !important; */
  font-weight : lighter;
}

#event-name img {
	max-width: 400px;
}
/*
#event-name a {
	-webkit-transition: border-color 500 linear;
	-moz-transition: border-color .25s linear;
	transition: border-color .25s linear;
}

#event-name a:hover {
  text-shadow: 1px 1px 0px #fff, 3px 3px 0px rgba( 0, 0, 0, 0.3 ) !important;
}
*/

#name-color-1 { color : #2e3242; }
#name-color-2 { color : #aac7b2; }

nav li {
  display : inline-block;
  padding : 0px 50px 20px 50px;
}

/* home page */

#intro h3 {
  padding-top : 20px;
  text-align : center;
  font-family : "Italianno", Vivaldi, Freestyle Script, Segoe Script, Monotype Corsiva, French Script MJ;
  font-size : 2em;
  color : #666;
}


/* startups */
.startup div {
  display : inline-block;
  width : 246px;
  height : 150px;
  margin : 10px;

  color : #444;

  text-align : center;
  line-height : 130px;
  font-size : 2em;
  font-family : "Code-Pro-Demo", monospace;

  box-shadow : inset 0px 0px 30px 6px #e9e9e9, 0px 0px 10px 1px #e9e9e9;
  background : #eee;
  transition-property : box-shadow, background;
  transition-duration : 0.5s;
}

.startup div:hover {
  background : #f9f9f9;
  box-shadow : inset 0px 0px 30px 6px #efefef, 0px 0px 10px 1px #e9e9e9;
  cursor : pointer;
}
.startup div:active {
  background : #eee;
  box-shadow : inset 0px 0px 30px 6px #ddd;
}

.startup:hover {
  text-shadow : none; /* remove default link hover */
}

dl {
  width : 100%;
  overflow : hidden;
}

dl dt, dl dd {
  float : left;
  display : inline-block;
  margin: 0 10px 0 0;
}
dl dt {
}
dl dd {
	font-family: 'Code-Pro-Light-Demo';
	font-weight: 700;
}

#rsvp {
	float: left;
	width: 75%;
}
#button {
	float: right;
	width: 20%;
	text-align: center;
}

/* github-login button */
#github-login {
  padding : 2%;
  width: 96%;
  display: inline-block;
  height : 50px;
  font-weight: 700;
  line-height : 50px;
  color : #eee;
  background : #222;
  box-shadow : 0px 0px 10px 1px rgba(0,0,0,0.2);
  text-shadow: 0px 2px 0px #000;
  text-transform: uppercase;
  font-size: 20px;
  text-align : center;
  transition-property : box-shadow, background;
  transition-duration : 0.5s;
}

#github-login:hover {
  background : #333;
}

#github-login:active {
  box-shadow : inset 0px 0px 10px 1px #222;
  background : #333;
}

/* signed up 
#signed-up-div {
  width : 100%;
  height : 50px;
  line-height : 50px;
  color : #eee;
  text-align : center;
  box-shadow : 0px 0px 2px 2px #ddd;
  background : #333;
  background-image: url('texture-black.png');
  margin : 0 auto;
}

#signed-up-div a {
  color : #bbb;
  transition : all 0.5s;
}

#signed-up-div a:hover {
  color : #999;
}*/

footer {
	width: 100%;
	z-index: 1;
	height: 100px;
  background-image: url('texture.png');
}

a {
	font-weight: 700;
	color: #3e6c84;
}

a:hover {
	color: #5b8c9b;
}

#rel {
	position: relative;
	width: 890px;
	margin: 0 auto;
	height: 100%;
}

#stick {
	font-size: 20px;
	font-weight: 300;
	width: auto;
	text-shadow: 0px 1px 0px #fff;
	line-height: 30px;
	-webkit-box-shadow: 0 -8px 15px -6px rgba(0,0,0,0.2);
	box-shadow:         0 -8px 15px -6px rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.9);
	position: absolute;
	bottom: 0px;
	padding: 20px 20px;
}


/* information */
.companydesc {
	-webkit-box-shadow: 0 -8px 15px -6px rgba(0,0,0,0.1);
	box-shadow:         0 -8px 15px -6px rgba(0,0,0,0.1);
	padding: 20px;
	display: none;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: justify;
	
}


.companydesc img {
	float: left;
	margin: 0 15px 15px 0;
}

#container {
  width: 890px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 20px auto;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}


.source {
	font-size: 14px;
}

h1 {
	font-size: 25px;
	line-height: 30px;
	font-weight: 700;
	color: #2e3242;
}
h2 {
	font-size: 18px;
	padding-bottom: 5px;
	font-weight: 700;
	margin-bottom: 10px;
	font-style: italic;
	color: #aac7b2;
	border-bottom: 1px dotted rgba(0,0,0,0.4);
}

.clear {
	clear: both;
}
